body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: 550;
}

#title {
  background-color: #ff4c68;
  padding: 3% 15%;
  /* height: 800px; */
  }

#pricing {
  padding: 3% 15%;

}

#cta {
  background-color: #ff4c68;
  padding: 3% 15%;
}

#footer {
  background-color: white;
  padding: 3% 15%;
}

.container-fluid {
  padding: 3% 15%;
}

.prices {
  margin: 15px 15px;
}

.price-cards {
  margin-top: 3% 2%;
}

.check-icon {
  align: center;
}

.cta-text {
  font-family: 'Montserrat';
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: 550;
  color: white;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 500;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-image {
  font-family: 'Montserrat';
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: 550;
  color: white;
}

.press-logo {
  width: 15%;
  padding: 20px 20px 50px;
}

#features {
  padding: 7% 0;
  background-color: white;
  position: relative;
}

#testimonials {
  background-color: #ff4c68;
  color: #fff;
  padding: 5%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 20px
}

.carousel-item {
  padding: 3% 15%;
}

.card{
  margin-top: 15px
}

.features {
  padding: 5%;
}

.feature-icon {
  color: #EF8172;
  font-size: 80px;
  padding-bottom: 2rem;
}

.feature-link :hover {
  color: #f78888;
  font-size: 95px;
}

.feature-header {
  font-weight: 550;
  font-size: 1.5rem;
}

.feature-text {
  color: #8F8F8F;
}

.footer-socials {
  padding-top: 70px
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400
}

.social-links {
  /* float: right; */
  /* width: 300px; */
  padding: 10px;
}

.iphone6 {

  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -moz-transform: rotate(25deg);
  /* Firefox */
  -webkit-transform: rotate(25deg);
  /* Safari and Chrome */
  -o-transform: rotate(25deg);
  /* Opera */
  position: relative;
  top: 20%;
  width: 60%;
  right: 5%;

}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone6 {

    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
    position: static;
  }
}
