body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

h2 {
  font-family: 'Montserrat';
  font-size: 2.0rem;
  line-height: 1.5;
  font-weight: 550;
  color: white;

}

#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

.check-icon {
  align: center;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 500;
}

.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 0;
}

#testimonials {
  background-color: #ff4c68;
  color: #fff;
  padding: 5%;
}

.features {
  padding: 5%;
}

.feature-icon {
  color: #EF8172;
  font-size: 80px;
  padding-bottom: 2rem;
}

.feature-link :hover {
  color: #f78888;
  font-size: 95px;
}

.feature-header {
  font-weight: 550;
  font-size: 1.5rem;
}

.feature-text {
  color: #8F8F8F;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400
}

.iphone6 {
  width: 60%;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -moz-transform: rotate(25deg);
  /* Firefox */
  -webkit-transform: rotate(25deg);
  /* Safari and Chrome */
  -o-transform: rotate(25deg);
  /* Opera */
}
